/* app css stylesheet */

.container {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-color: #005fb3;
    background-size: cover;
    color: #fff;
    padding-bottom: 50px;
}

body {
    padding-bottom: 50px;
}

body a {
    color: white;
}

body a:hover {
    color: #EBEF84;
}

.container h1 {
    color: #fff;
}


li { list-style-type: none;}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.users {
    border-top: 1px solid white;
    border-bottom: 1px dashed white;
    margin-top: 40px;
    padding: 20px 0;
}

/*.users:last-of-type {*/
    /*border-top: 1px dashed white;*/
    /*border-bottom: 1px dashed white;*/
/*}*/

.users ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.users ul {
    margin: 0;
}

.users li {
    font-size: 18px;
    line-height: 28px;
}

.users li a {
    display: block;
}

.users .button.tiny {
    padding: 0 5px;
}

.users__edit, .users__remove {
    display: inline-block;
}

.users__edit {
    margin-right: 5px;
}

li.gift__misto span {
    display: block;
}

li.user__name {
    font-size: 24px;
}

li.user__name span {
    font-size: 40px;
}

li.gift__text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    font-size: 24px;
}

li.gift__url {
    margin-top: 10px;
    font-size: 18px;
}

li.gift__url a {
    font-size: 22px;
}

form .row .columns {
    float: none !important;
}

.row button.button { padding: 10px 20px; font-size: 26px; }

form .row .columns label {
    color: white;
}