<div class="row" ng-controller="UsersCtrl">
	<div class="large-12 columns">

		<!-- Start User and Wish Form Show and HIde Buttons -->
		<div class="large-12" ng-click="showAddNameAndWish()" ng-hide="addNameAndWishFormShow">
			<button class="button">Napiš si mu tady</button>
		</div>
		<div class="large-12" ng-click="hideAddNameAndWish()" ng-show="addNameAndWishFormShow">
			<button class="button">Zavři</button>
		</div>
		<!-- End -->

		<form ng-submit="addNameAndWish()" ng-show="addNameAndWishFormShow">
			<div class="row">
				<div class="large-6 columns">
					<label>Kdo si píše:
						<input type="text" ng-model="name" placeholder="Výplň svoje jméno" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Co si přeje:
						<textarea maxlength="300" rows="5" ng-model="text" spellcheck="true" placeholder="Napiš sem co si přeješ..." required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Kde to maj:
						<input type="text" ng-model="misto" placeholder="Sem napiš kde to můžou mít..." />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Internetová adresa:
						<input type="text" ng-model="url" placeholder="Sem zkopíruj internetovou adresu... jestli ji máš" />
					</label>
				</div>
			</div>
			<button type="submit">Odešli</button>
		</form>

		<div class="users" ng-repeat="user in users">
			<ul>
				<li class="user__name"><span>{{user.name}}</span> si přeje ... </li>
				<li class="gift__text"><span>{{user.text}}</span></li>
				<li class="gift__misto">...nooo a maj to tady: <span>{{user.misto}}</span></li>
				<li class="gift__url" ng-if="user.url">...a nebo: <a href="{{user.url}}">{{user.url}}</a></li>
			</ul>
		</div>

	</div>
</div>