<div class="row" ng-controller="ContactsCtrl">
	<div class="large-10 columns">
		<p data-alert class="alert-box">{{msg}}</p>

		<!--Show Contacts Box-->
		<div class="row" ng-show="contactShow">
			<div class="panel">
				<h3>{{name}}</h3>
				<ul>
					<li>{{email}}</li>
					<li>{{home_phone}}</li>
					<li>{{mobile_phone}}</li>
				</ul>
			</div>
		</div>

		<!-- Edit Contact -->
		<form ng-submit="editFormSubmit()" ng-show="editFormShow">
			<h3>Edit Contact</h3>
			<!-- Add Form -->
			<div class="row">
				<div class="large-6 columns">
					<label>Name:
						<input type="text" ng-model="name" placeholder="Contact Name" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Email:
						<input type="text" ng-model="email" placeholder="Contact Email" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Home Phone Number:
						<input type="text" ng-model="home_phone" placeholder="Contact Home Phone Number" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Mobile Phone Number:
						<input type="text" ng-model="mobile_phone" placeholder="Contact Mobile Phone Number" required />
					</label>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="submit" value="Update Contact" class="button" />
					</div>
				</div>
			</div>
		</form>


		<form ng-submit="addFormSubmit()" ng-show="addFormShow">
			<h3>Add Contact</h3>
			<!-- Add Form -->
			<div class="row">
				<div class="large-6 columns">
					<label>Name:
						<input type="text" ng-model="name" placeholder="Contact Name" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Email:
						<input type="text" ng-model="email" placeholder="Contact Email" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Home Phone Number:
						<input type="text" ng-model="home_phone" placeholder="Contact Home Phone Number" required />
					</label>
				</div>
				<div class="large-6 columns">
					<label>Mobile Phone Number:
						<input type="text" ng-model="mobile_phone" placeholder="Contact Mobile Phone Number" required />
					</label>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="submit" value="Add Contact" class="button" />
					</div>
				</div>
			</div>
		</form>

		<h3>Your Contacts ( {{ contacts.length }} )</h3>
		<table>
			<thead>
			<tr>
				<th width="200px">Name</th>
				<th width="200px;">Company</th>
				<th width="25%;">Email</th>
				<th width="25%;">Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="contact in contacts">
				<td><a ng-click="showContact(contact)">{{ contact.name }}</a></td>
				<td>{{ contact.company }}</td>
				<td>{{ contact.email }}</td>
				<td><a class="button tiny" ng-click="showEditForm(contact)">Edit</a>
					<a class="button tiny alert" ng-click="removeContact(contact)">Delete</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="small-12 large-2 columns">
		<a class="button large" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
		<a class="button large" ng-click="closeAddForm()" ng-show="addFormShow">-</a>
		<a class="button large" ng-click="closeAddForm()" ng-show="contactShow" >-</a>
		<a class="button large" ng-click="closeAddForm()" ng-show="editFormShow">-</a>
	</div>
</div>